html {
	font-size: 20px;
}

body {
	font-family: 'Roboto';
	font-weight: 400;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.lock {
	overflow: hidden;
}

.btn {
	color: $white-color;
	background: $orange-color;
	text-align: center;
	padding: 18px 30px;
	cursor: pointer;
	font-size: 0.9rem;
	transition: background .2s;
	&:hover {
		background: $hover-orange-color;
	}
	&:active {
		background: $active-orange-color;
	}
	@media (max-width: 790px) {
		font-size: 0.7em;
	}
}