html {
	font-size: 20px;
}

body {
	font-family: 'Roboto';
	font-weight: 400;
	color: $dark-color;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.lock {
	overflow: hidden;
}

.btn {
	color: $white-color;
	background: $orange-color;
	text-align: center;
	padding: 18px 30px;
	cursor: pointer;
	font-size: 0.9rem;
	transition: background .2s;
	&:hover {
		background: $hover-orange-color;
	}
	&:active {
		background: $active-orange-color;
	}
	@media (max-width: 790px) {
		font-size: 0.7em;
	}
}

.title {
	font-size: 3rem;
	line-height: 3.3rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 32px;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 8px;
		width: 73px;
		background: $orange-color;
	}
	span {
		color: $orange-color;
	}
}

.custom-checkbox {

	input {
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		opacity: 0;
	}

	label {
		position: relative;
		padding-left: 46px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 22px;
			height: 22px;
			border: 1px solid $orange-color;
		}
	}

	input:checked + label {
		&::before {
			background: $orange-color;
		}
		&::after {
			content: '';
			position: absolute;
			top: 7px;
			left: 6px;
			transform: rotate(-45deg);
			width: 11px;
			height: 5px;
			border-bottom: 2px solid $white-color;
			border-left: 2px solid $white-color;
		}
	}
}