.sponsors {
	padding: 140px 0 0;
	line-height: 1.5rem;
	color: $white-color;
	overflow: hidden;
	@media (max-width: 1100px) {
		padding: 140px 0 0;
	}

	@media (max-width: 790px) {
		padding: 80px 0 0;
		font-size: 0.7rem;
		line-height: 0.9rem;
	}

	&__container {
		display: flex;
		align-items: center;
		@media (max-width: 1100px) {
			display: block;
			background: $dark-color;
		}
	}

	&__inner {
		max-width: 610px;
		padding: 80px 88px;
		background-image: url('../images/header-background.jpg');
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		@media (max-width: 1200px) {
			max-width: 580px;
			padding: 80px 50px;
		}
		@media (max-width: 1100px) {
			max-width: 620px;
			margin: 0 auto;
			top: -50px;
		}
		@media (max-width: 790px) {
			top: -32px;
		}
		@media (max-width: 420px) {
			padding: 32px;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(207deg, rgba(201, 86, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 100%),linear-gradient(50deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 100%);
		}

		>div {
			position: relative;
		}
	}

	&__title {
		color: $white-color;
		margin-bottom: 60px;
	}

	&__txt {
		margin-bottom: 60px;
		p {
			margin-bottom: 10px;
			span {
				font-weight: 500;
			}
			:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__btn {
		max-width: 292px;
		width: 100%;
	}

	&__flex {
		flex: 1 1 auto;
		padding: 80px 0 38px 88px;
		margin: 50px 0;
		position: relative;
		@media (max-width: 1100px) {
			padding: 0 0 80px;
			margin: 50px 0 0;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: $dark-color;
			margin-right: calc(-50vw + 640px);
			@media (max-width: 1310px) {
				margin-right: -15px;
			}
			@media (max-width: 1100px) {
				margin: 0 -15px;
			}
		}
	}

	&__box {
		position: relative;
		margin-bottom: 42px;
	}

	&__box-title {
		font-size: 1.3rem;
		font-weight: 500;
		margin-bottom: 24px;
	}

	&__box-list {
		color: #c7c7c7;
	}

	&__box-item {
		padding-left: 30px;
		position: relative;
		margin-bottom: 10px;
		@media (max-width: 790px) {
			padding-left: 20px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 12px;
			left: 0;
			width: 6px;
			height: 6px;
			background: #c7c7c7;
			border-radius: 50%;
			@media (max-width: 790px) {
				width: 5px;
				height: 5px;
				top: 6px;
			}
		}
	}
}