.tables {
	padding: 70px 0;
	height: 100%;
	color: $dark-color;
	font-size: 0.9rem;
	@media screen and (max-width: 790px) {
		font-size: 0.7rem;
	}

	&__seasone {
		margin-bottom: 30px;
	}

	&__title {
		font-size: 3rem;
		line-height: 3.3rem;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 2rem;
	}

	&__inner {
	}

	&__inner-title {
		margin-bottom: 1.2rem;
		font-size: 1.3rem;
	}

	&__tabs {
		display: flex;
		align-items: center;
		text-align: center;
		gap: 2px;
		margin-bottom: 30px;
		font-size: 0.9rem;
	}

	&__tabs-item {
		flex: 1 1 30%;
		padding: 24px 10px;
		background: $white-color;
		color: $gray60-color;
		position: relative;
		cursor: pointer;

		&.active {
			color: $dark-color;
			font-weight: 500;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 3px;
				background: $orange-color;
			}
		}
	}

	&__tabs-content {
		display: none;

		&.active {
			display: block;
		}
	}
}
// !MATCH
.match-content {

	&__title {
		margin-bottom: 15px;
	}

	&__cards {
		display: flex;
		gap: 4px;
		flex-wrap: wrap;
		@media screen and (max-width: 992px) {
			justify-content: center;
		}
	}

	&__card {
		flex: 0 1 calc(50% - 2px);
		background: #fff;
		padding: 24px 30px;
		display: flex;
		@media screen and (max-width: 992px) {
			flex: 0 1 700px;
		}
	}

	&__card-static {
		flex: 1 1 65%;
	}

	&__card-static-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 10px;
		color: $gray60-color;
		position: relative;
		+ .match-content__card-static-item {
			margin-top: 40px;
		}

		&.active {
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				border: 6px solid $dark-color;
				border-bottom-color: transparent;
				border-right-color: transparent;
				transform: rotate(-45deg) translateY(calc(-50% - 3px));
			}
			span {
				color: $dark-color;
				font-weight: 500;
			}
		}

		span:first-child {
			margin-right: 33px;
		}

		span:nth-child(2) {
			flex: 3;
			padding-right: 10px;
		}

		span:last-child {
			flex: 1;
			padding-right: 18px;
		}
	}

	&__card-video {
		flex: 1 1 35%;
		padding-left: 24px;
		border-left: 1px solid #e8e8e8;
		text-align: center;
	}

	&__card-video-title {
		margin-bottom: 6px;
		// font-size: 0.9rem;
		font-weight: 500;
	}

	&__card-video-date {
		margin-bottom: 0.9rem;
		font-size: 0.7rem;
		color: $gray60-color;
	}
}


// !TABLE

.table-content {

	&__title {
		margin-bottom: 15px;
	}
	
	&__box {
		overflow: auto;
	}

	&__table {
		font-size: 0.9rem;
		width: 100%;
		background: $white-color;
		thead th {
			padding: 25px 5px;
			color: $gray60-color;
		}
		tbody tr {
			border-top: 3px solid #F5F5F5;
		}

		tr.light-orange {
			background: rgba(201, 86, 0, .2);
			border-left: 5px solid rgba(201, 86, 0, 1);
		}
		tr.light-blue {
			background: rgba(0, 131, 226, .1);
			border-left: 5px solid rgba(0, 131, 226, 1);
		}
		tr.light-green {
			background: rgba(13, 161, 0, .2);
			border-left: 5px solid rgba(13, 161, 0, 1);
		}
		tr.light-red {
			background: rgba(168, 0, 0, .2);
			border-left: 5px solid rgba(168, 0, 0, 1);
		}

		th {
			min-width: 50px;
			&:first-child {
				text-align: left;
				padding-left: 24px;
			}
			&:last-child {
				min-width: 160px;
			}
		}

		td {
			&:first-child {
				min-width: 50px;
			}
			&:nth-child(2) {
				text-align: left;
				min-width: 200px;
			}
		}

		th, td {
			padding: 12px 5px;
			vertical-align: middle;
			text-align: center;
		}
	}

	&__flex {
		display: flex;
		align-items: center;
		gap: 15px;
		font-weight: 500;
		span {
			&:first-child {
				flex: 0 0 50px;
			}
			img {
				width: auto;
				height: 40px;
			}
		}
	}
}


// !statistics
.statistics-content {

	&__inner {
		margin-bottom: 30px;
	}

	&__title {
		// font-size: 0.9rem;
		font-weight: 500;
		margin-bottom: 15px;
	}

	&__table {
		box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
		gap: 3px;
		display: flex;
		flex-flow: column;
	}

	&__table-title {
		background: $white-color;
		padding: 24px;
		display: flex;
		justify-content: space-between;
		color: $gray60-color;
		@media screen and (max-width: 790px) {
			padding: 15px;
		}
	}

	&__table-row {
		padding: 24px;
		@media screen and (max-width: 790px) {
			padding: 15px;
		}
	}
}
// card row
.row-statistic {
	background: $white-color;
	display: flex;
	align-items: center;

	&__column {
		flex: 1 1 90%;
		display: flex;
		gap: 24px;
		align-items: center;
		@media screen and (max-width: 790px) {
			gap: 8px;
		}
	}

	&__num {
		font-weight: 500;
		flex: 0 1 36px;
		@media screen and (max-width: 790px) {
			flex: 0 1 26px;
		}
	}

	&__img {
		flex: 0 0 76px;
		height: 76px;
		object-fit: cover;
		overflow: hidden;
		border-radius: 50%;
		@media screen and (max-width: 790px) {
			height: 45px;
			flex: 0 0 45px;
		}
	}

	&__player {
	}

	&__player-name {
		font-weight: 500;
		margin-bottom: 20px;
		@media screen and (max-width: 790px) {
			margin-bottom: 15px;
		}
	}

	&__game {
		display: flex;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: 790px) {
			gap: 5px;
		}
		div {
			flex: 0 0 40px;
			@media screen and (max-width: 790px) {
				flex: 0 0 24px;
			}
		}
		img {
			height: 32px;
			@media screen and (max-width: 790px) {
				height: 24px;
			}
		}
	}

	&__goals {
		font-weight: 500;
	}
}

